body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:center;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#7B9899;
	font-size:157%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet\F097;
	color:#D16349;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:85%;}
.B
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:black;
	mso-color-index:1;
	font-size:128%;
	mso-margin-left-alt:172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet\F0A1;
	color:#CCB400;
	mso-color-index:5;
	font-family:Wingdings;
	font-size:70%;}
.B1
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	font-size:104%;
	mso-margin-left-alt:345;
	mso-text-indent-alt:173;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet\F0F7;
	color:#8CADAE;
	font-family:"Wingdings 2";
	font-size:75%;}
.B2
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-margin-left-alt:518;
	mso-text-indent-alt:374;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet\F0A2;
	color:#8C7B70;
	font-family:Wingdings;
	font-size:70%;}
.B3
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	font-size:95%;
	mso-margin-left-alt:691;
	mso-text-indent-alt:547;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet•;
	color:#8FB08C;}
.B4
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:black;
	mso-color-index:1;
	font-size:85%;
	mso-margin-left-alt:864;
	mso-text-indent-alt:720;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:black;
	mso-color-index:1;
	font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet\F097;
	color:#D16349;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:85%;}
.CB
	{text-align:center;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:black;
	mso-color-index:1;
	font-size:128%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet\F0A1;
	color:#CCB400;
	mso-color-index:5;
	font-family:Wingdings;
	font-size:70%;}
.CB1
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	font-size:104%;
	mso-margin-left-alt:173;
	mso-text-indent-alt:173;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet\F0F7;
	color:#8CADAE;
	font-family:"Wingdings 2";
	font-size:75%;}
.CB2
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:95%;
	mso-margin-left-alt:374;
	mso-text-indent-alt:374;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet\F0A2;
	color:#8C7B70;
	font-family:Wingdings;
	font-size:70%;}
.CB3
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	mso-margin-left-alt:547;
	mso-text-indent-alt:547;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet•;
	color:#8FB08C;}
.CB4
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:85%;
	mso-margin-left-alt:720;
	mso-text-indent-alt:720;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:center;
	font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#7B9899;
	font-size:157%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bullet\F097;
	color:#D16349;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:85%;}
.HB
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:109%;
	mso-margin-left-alt:172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet\F0A1;
	color:#CCB400;
	mso-color-index:5;
	font-family:Wingdings;
	font-size:70%;}
.HB1
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	font-size:95%;
	mso-margin-left-alt:345;
	mso-text-indent-alt:173;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet\F0F7;
	color:#8CADAE;
	font-family:"Wingdings 2";
	font-size:75%;}
.HB2
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:85%;
	mso-margin-left-alt:518;
	mso-text-indent-alt:374;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet\F0A2;
	color:#8C7B70;
	font-family:Wingdings;
	font-size:70%;}
.HB3
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	mso-margin-left-alt:691;
	mso-text-indent-alt:547;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet•;
	color:#8FB08C;}
.HB4
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:76%;
	mso-margin-left-alt:864;
	mso-text-indent-alt:720;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bullet\F097;
	color:#D16349;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:85%;}
.QB
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:95%;
	mso-margin-left-alt:172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet\F0A1;
	color:#CCB400;
	mso-color-index:5;
	font-family:Wingdings;
	font-size:70%;}
.QB1
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	font-size:85%;
	mso-margin-left-alt:345;
	mso-text-indent-alt:173;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet\F0F7;
	color:#8CADAE;
	font-family:"Wingdings 2";
	font-size:75%;}
.QB2
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:76%;
	mso-margin-left-alt:518;
	mso-text-indent-alt:374;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet\F0A2;
	color:#8C7B70;
	font-family:Wingdings;
	font-size:70%;}
.QB3
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	color:#646B86;
	mso-color-index:3;
	mso-margin-left-alt:691;
	mso-text-indent-alt:547;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet•;
	color:#8FB08C;}
.QB4
	{font-family:Georgia;
	mso-ascii-font-family:Georgia;
	mso-hansi-font-family:Georgia;
	font-size:66%;
	mso-margin-left-alt:864;
	mso-text-indent-alt:720;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:85%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#00A3D6 !important;}
a:active
	{color:#CCB400 !important;}
a:visited
	{color:#694F07 !important;}
